/* body {
    background-color: powderblue;
}
h1 {
color: blue;
}
p {
color: red;
padding: 30px;
}
table {
width: 100%;
border: 1px solid #444444;
border-collapse: collapse;
}
th, td, tr {
border: 1px solid #444444;
} */
div {
    border: 2px solid red;
}
header {
    border: 2px solid orange;
}
nav {
    border: 2px solid yellow;
}
section {
    border: 2px solid green;
}
article {
    border: 2px solid blue;
}
aside {
    border: 2px solid navy;
}
footer {
    border: 2px solid purple;
}
.welcomeContainer{
    height: 100%;
    width: 100%;
    z-index: 1;
    content: "";
}
.welcomeContainer::after{
    /* content: "aoewijaw;eofiawe;ofi"; */
    background-image: url("./imgs/gmk_Serika.png");
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    z-index: -1;
}
/* .div1class {
border: 2px solid blue;
font-size : 20px;
}
.city {
background-color: tomato;
color: white;
border: 2px solid black;
margin: 20px;
padding: 10px;
} */